/* Core Styles */
body {
  margin: 0;
  font-family: Ariel, Helvetica, sans-serif;
  background-color: rgb(65, 105, 145); 
  /* color: rgb(49, 47, 47); */
  color: white;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0; /* adds 1 em on top and bottom; 0 on left and right */
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: rgb(65, 105, 145); 
  color: #fff;
  text-decoration: none;
  border-radius: 7px; 
  padding: 1em 2em;
  border: 1px solid white;
  margin: .5em 0;
}

/* hover-state for button */
.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  /* the image will exceed the showcase div */
  position: absolute;
  background: rgb(65, 105, 145) url("/images/medical-records.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.5;
}

/* fix the heading/header */
#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}
 #showcase .content-wrap, 
 #showcase-a .content-wrap {
   padding: 0 1.5em;
}

/* Section A */
#section-a{
  background: #7196c2;
  color: #333;
  padding-bottom: 2em;
}

/* Section B */
#section-b {
  padding: 2em 1em 1em;
}

/* gets rid of the bullet poit by each image */
#section-b ul {
  /* gets rid of the bullet point by each image */
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #7196c2;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/* Section C */ 
#section-c {
  background: #7196c2;
  color: #333;
  padding: 2em;
}

/* Section D / Boxes */
 #section-d .box { 
  padding: 2em;
  color: #fff;
 }

 /* using a pseudo class, first-child, to change the background color.
 This takes the first child of the box class in section-d and styles only that child. */
 #section-d .box:first-child {
   background: #911515;
}

/* Main Footer */
#main-footer {
  padding: 2em;
  background: rgb(65, 105, 145);
  color: white;
  text-align: center;
}

/* Media Query for larger screens.
Any styles in this media query will only be applied if the screen is wider than 700 pixels. 
This is also where the grid class will be used. */
@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

